@font-face {
  font-family: 'Farray Regular'; /*a name to be used later*/
  src: url('FARRAY.ttf')
}

@font-face {
  font-family: 'Enigmatic'; /*a name to be used later*/
  src: url('Enigma.TTF')
}

body{
  background-color: #2b2b2b;
}

h1
{
  font-family: 'Farray Regular';
}

h1, label, h3, h4{
  color: #707070;
}

h4 {
  color: #707070;
  margin-bottom: 0;
}

div#sentby {
  text-align: right;
}

div#errors {
  background-color: red;
  width : 50%;
}

img
{
  max-width: 700px;
  margin: 10px;
}

h2
{
  color: #707070;
  font-family: 'Enigmatic';
}

div#action_display {
  border-style: solid;
  border-radius: 0px 0px 5px 5px;
  margin: auto;
  width: 50%;
  height: auto;
  text-align: center;
  padding: 10px;
  background-color: #e0e0eb;
}

div#queue_entry
{
  padding-top: 25px;
}

div#queue {
  border-style: solid;
  border-radius: 0px 0px 5px 5px;
  position: absolute;
  right: 100px;
  width: 300px;
  padding: 10px;
  background-color: #e0e0eb;
}

button#menu_button {
    background-color: #707070; /* Green */
    width: 200px;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 4px;
  
}

button#other_button {
  margin: 10px;
  background-color: #707070; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 4px;
}