body{
  background-color: #2b2b2b;
}

h1, label, h3, h4{
  color: #707070;
}

h4 {
  color: #707070;
  margin-bottom: 0;
}

div#sentby {
  text-align: right;
}

img
{
  float: left;
  margin: 10px;
}

h2
{
  color: #707070;
  text-align: right;
}

div#action_display {
  border-style: solid;
  border-radius: 0px 0px 5px 5px;
  margin: auto;
  width: 50%;
  height: auto;
  text-align: center;
  padding: 10px;
  background-color: #e0e0eb;
}

div#queue_entry
{
  padding-top: 25px;
}

div#queue {
  border-style: solid;
  border-radius: 0px 0px 5px 5px;
  position: absolute;
  right: 100px;
  width: 300px;
  padding: 10px;
  background-color: #e0e0eb;
}